@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --montserrat: 'Montserrat', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --base-font: var(--poppins);
    --black: #ffffff;
    --blue: #8faae8;;
    --gold: #eab100; /* Color adaptado para que combine bien con el nuevo blue */
    --pink: #ff86af;
    --grey: #1a1a1a; /* Nuevo color de fondo para modo oscuro */
    --white: #333333; /* Nuevo color para objetos en modo oscuro */
    --default-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.1);
    --small-default-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(255, 255, 255, 0.1);
    --hover-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -8px -8px 18px rgba(255, 255, 255, 0.1);
    --sink-shadow: 0px 0px 3px 0px #333333,
    0px 0px 3px 0px #333333,
    0px 0px 3px 0px #0001,
    0px 0px 3px 0px #0001,
    inset 0px 0px 6px 0px #333333,
    inset 0px 0px 4px 0px #333333,
    inset 0px 0px 6px 0px #0003,
    inset 0px 0px 4px 0px #0001;
    --text-shadow: 10px 10px 22px rgba(0, 0, 0, 0.4), -10px -10px 22px rgba(255, 255, 255, 0.2);
    --profile-picture-size: 150px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--base-font);
}

html {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; /* make scrollbar transparent */
}

@keyframes  fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.generic-modal-container {
    @apply flex-col items-center fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 z-50;
    display: none;
}

.generic-modal {
    @apply flex flex-col items-center bg-white rounded-lg p-4 shadow-sm;
    width: 30%;
    height: auto;
    margin-top: 10%;
    padding: 20px;
    background-color: var(--white);
    animation: fadeIn 0.2s ease-in-out;
}

.generic-modal > .generic-modal-close {
    @apply ml-auto;
    color: var(--black);
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.generic-modal > .generic-modal-close:hover {
    color: var(--pink);
}


.generic-modal > .generic-modal-head {
    @apply flex items-start;
    width: 100%;
    margin-bottom: 1rem;
}

.generic-modal-head > .generic-modal-title {
    @apply inline;
    color: var(--black);
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.generic-modal-head > .generic-modal-icon {
    @apply inline;
    color: var(--black);
    margin-top: 0.2rem;
    font-size: 3rem;
    margin-right: 0.5rem;
}


.generic-modal > .generic-modal-content {
    @apply self-start;
    color: var(--black);
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 800px) {
    .generic-modal {
        width: 80%;
    }
}