.indexLayout {
    display: grid;
    grid-template-rows: auto;
    background-color: var(--grey);
    width: 100%;
    height: 100%;
    position: absolute;
    grid-template-columns: 1fr 6fr .1fr;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}


.profileContainer {
    display: flex;
    flex-direction: column;
    grid-column: 1;

}

.myDataContainer {
    /* align to left */
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--small-default-shadow);
    margin-right: auto; /* Align to the left */
    margin-left: 1.5vw;
    margin-top: 1.5vw;
    transition: box-shadow 0.2s ease-in-out;
}

.myDataContainer h1 {
    font-size: 1.5rem;
    margin-left: 10px;
    font-weight: 600;
    color: var(--black);
    text-shadow: var(--text-shadow);
    display: inline;
}

.myDataContainer img {
    width: 75px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: var(--default-shadow);
    transition: box-shadow 0.2s ease-in-out;
}

.myDataContainer > img:hover {
    box-shadow: var(--hover-shadow);
    scale: 1.01;
}

.socialsContainer {
    /* align to left */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    background-color: var(--white);
    border-radius: 10px;
    padding: 12px;
    box-shadow: var(--default-shadow);
    margin-right: auto; /* Align to the left */
    margin-top: 1.5vw;
    transition: box-shadow 0.2s ease-in-out;
    margin-left: 1.5vw;
    width: 100%;
    height: auto;
}

.socialsContainer > p {
    margin: 0 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: var(--black);
    text-shadow: var(--hover-shadow);
    transition: box-shadow 0.2s ease-in-out;
}

.socialsContainer > a {
    margin: 0 10px;
    background-color: var(--grey);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: var(--black);
    font-size: 1.5rem;
    box-shadow: var(--small-default-shadow);
    transition: box-shadow 0.2s ease-in-out;
}

.socialsContainer > a:last-of-type {
    padding: 5px 12px 5px 12px;
}

.socialsContainer > a:hover {
    box-shadow: var(--default-shadow);
    scale: 1.015;
}


.profileDataRow {
    /* align to left */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    background-color: var(--white);
    border-radius: 10px;
    padding: 12px;
    box-shadow: var(--default-shadow);
    margin-right: auto; /* Align to the left */
    margin-top: 1.5vw;
    transition: box-shadow 0.2s ease-in-out;
    margin-left: 1.5vw;
    width: 100%;
    height: auto;
}

.profileDataRow > .profileDRContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.profileDataRow > p {
    margin: 0 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: var(--black);
    text-shadow: var(--hover-shadow);
    transition: box-shadow 0.2s ease-in-out;
}

.profileDRContainer > a > i,
.profileDRContainer > i {
    margin: 2px 10px;
    background-color: var(--white);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    color: var(--black);
    font-size: 1.5rem;
    box-shadow: var(--small-default-shadow);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.profileDRContainer > a > i:hover,
.profileDRContainer > i:hover {
    box-shadow: var(--default-shadow);
    scale: 1.03;
}

.aboutMeContainer {
    @apply flex flex-col items-center justify-center bg-white rounded-lg p-4 shadow-sm;
    background-color: var(--white);
    border-radius: 10px;
    padding: 12px;
    box-shadow: var(--small-default-shadow);
    margin-right: auto; /* Align to the left */
    margin-top: 1.5vw;
    transition: all 0.2s ease-in-out;
    margin-left: 3vw;
    width: 94%;
    height: auto;
    margin-bottom: 1.5vw;
}

.aboutMeContainer:hover {
    box-shadow: var(--sink-shadow);

}


.projectsContainer {
    grid-column: 2;
    /* remove align-self if not necessary.
    Adjust margin-top to move the container up. */
    margin-bottom: auto;
    margin-left: 3vw;
    margin-top: 1.5vw;
    @apply flex flex-col items-center justify-center bg-white rounded-lg p-4 shadow-sm;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--small-default-shadow);
    transition: box-shadow 0.2s ease-in-out;
}

.projectsContainer:hover {
    box-shadow: var(--sink-shadow);
}

.projectsContainer .projectsTitle {
    @apply text-2xl font-semibold text-gray-700 self-center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
    text-shadow: var(--text-shadow);
    display: inline;

}

.projects {
    /* override the flex properties */
    align-self: auto;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    /* continue with the original properties */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}

.projects > a {
    background-color: var(--grey);
    color: var(--black);
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--small-default-shadow);
    transition: all 0.2s ease-in-out;
    user-select: none;
    cursor: pointer;
}


.projects > a:hover {
    box-shadow: var(--default-shadow);
    scale: 1.01;
}

.projects > h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black);
    text-shadow: var(--text-shadow);
    display: block;
    text-align: center;
    margin-bottom: 0;
    /* Use 2 grid columns */
    grid-column: span 2;
}

.project > img {
    width: 50px;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: var(--default-shadow);
    transition: all 0.2s ease-in-out;
}

.project > img:hover {
    box-shadow: var(--hover-shadow);
    scale: 1.01;
}

.project > .projectData {
    margin-left: 10px;

}

.project > .projectData h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black);
    text-shadow: var(--text-shadow);
    display: block;

}

.languages {
    margin-left: 10px;
    font-size: 1.1rem;
}

.openSourceBadge {
    scale: 0.9;
}

.languages > i {
    margin-right: 5px;
}

@media only screen and (max-width: 800px) {
    .indexLayout {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: stretch;
    }

    .profileContainer {
        width: 96%;
        margin-left: 2vw;
        box-shadow: none;

    }


    .socialsContainer > a{
        margin: 2px 5px;
        font-size: 1.2rem;
    }

    .myDataContainer {
        margin-left: 0;
        box-shadow: none;
    }
    .myDataContainer > h2{
        text-shadow: var(--default-shadow);
    }

    .socialsContainer {
        margin-left: 0;
        box-shadow: none;
    }

    .profileDataRow {
        margin-left: 0;
        box-shadow: none;
    }

    .profileDRContainer > i {
        padding: 8px 5px 5px 8px;
    }


    .projectsContainer {
        padding: 0;
        box-shadow: none;
        width: 96%;
        margin-left: 2vw;
        max-height: 65%;
        margin-bottom: 2vh;
    }

    .projectsTitle > h2{
        text-shadow: var(--default-shadow)
    }

    .projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        align-content: start;
        overflow-y: scroll;
        margin-top: 1.5vw;
        margin-left: 1.5vw;
        justify-content: center; /* Centers items along the row axis */
        align-items: center; /* Centers items along the column axis */
        box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.44);
        z-index: 1;
    }

    .projects > h2 {
        grid-column: span 1;
        text-shadow: var(--default-shadow);
    }

        .projects > a {
        box-shadow: none;
        margin: auto; /* Centers the item within its container */
        width: 88%;
        height: 25vh;
        /* If necessary, control the height of individual items */
        min-height: 1rem;
    }

    .projects > a:last-of-type {
        margin-bottom: 1.5vw;
        height: 27vh;
    }

}